.footer-container {
    background-color: #F9F9F9;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }
  
  .footer-logo img {
    width: 65px;
  }
  .footer-icons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icons a {
    margin: 10px;
    display: inline-block;
  }
  
  .footer-icons img {
    width: 35px;
  }
  .footer-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .footer-links a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-family: "Arsenal", sans-serif;
  }
  
  .footer-text p {
    font-family: "Arsenal", sans-serif;
    margin: 20px;
    font-size: 1rem;
  }