.outer-container {
  /* width: 100vw; */
  max-width: 100%;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
}

.home-BGellipse {
  z-index: -2;
  position: absolute;
  top: 17%;
  left: 47%;
}

.home-Dot {
  z-index: -2;
  position: absolute;
  top: 73%;


}

.home-BGrectangle {
  z-index: -2;
  position: absolute;
  top: 78%;
  left: 82.5%;
  transition: 2s;
  opacity: 1;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 2rem;
}

.home-image-section {
  /* max-width: 600px; */
  flex: 1;

}


.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.primary-heading {
  font-size: clamp(4rem, 14vw, 3rem);
  font-weight: 550;
  color: black;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.2rem);
  max-width: 500px;
  color: black;
  margin: 1.5rem 0rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #007EA7;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button:hover {
  background-color: #525252;
}
@media (max-width: 1535px) {
  .home-BGrectangle,.home-BGellipse,.home-Dot{
    opacity: 0;
      animation: fade-in  ease-in forwards, fade-out 4s  ease-out forwards;
  }
  @keyframes fadeIn{
    100% {
        opacity: 1;
      } 
  }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
  
      100% {
        opacity: 0;
      }
}
}

@media (max-width: 1149px) {
.home-bannerImage-container {
  max-width: 700px;
}
.home-text-section {
  gap: 13px;
}
.primary-heading {
  font-size: clamp(2.1rem, 6vw, 3.5rem);
  font-weight: 500;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1rem);
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 550;
  
}
}
@media (max-width: 1000px) {
  .home-bannerImage-container {
    max-width: 700px;
  }
  .home-text-section {
    gap: 5px;
  }
  
  .primary-heading {
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: 500;
  }
  
  .primary-text {
    font-size: clamp(0.9rem, 3vw, 0.9rem);
  }
  
  .secondary-button {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 550;
  
  }

}

@media (max-width: 800px) {
  
  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .home-image-section {
    width: 100%;
    max-width: 600px;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
    font-size: clamp(3rem, 6vw, 3rem);
    font-weight: 600;
  }

  .primary-text {
    text-align: center;
    max-width: 80%;
    font-size: clamp(rem, 3vw, 1.1rem);
  }

  .home-text-section{
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
}
@media (max-width: 600px) {

  .home-bannerImage-container {
    display: none;
  }
}


/*About*/
.outer-container3 {
  max-width: 100%;
  /* max-height: 533px; */
  align-items: center;
}

.outer-container3 {
  max-width: 100%;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
}
.About-BGrectangle{
  z-index: -2;
  position: absolute;
  top: 118%;
  left: 48%;
  transition: 2s;
  opacity: 1;
}
.about-section-container {
  margin-top: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* .about-background-image-container {
position: absolute;
left: -150px;
z-index: -2;
} */
.about-section-image-container {
  flex: 0.9;
}
.about-section-text-container {
  flex: 1;
  justify-content: right;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-section-text-container h3 {
  font-weight: 500;
  color: #525252;
  font-size: 45px;
}

.about-section-text-container p {
  font-family: "Arsenal", sans-serif;
  padding-bottom: 20px;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
}

.about-buttons-container {
  display: flex;
}
@media (max-width: 1535px) {

  .About-BGrectangle{
      opacity: 0;
      animation: fade-in ease-in forwards, fade-out 4s ease-out forwards;
  }

  @keyframes fadeIn {
      100% {
          opacity: 1;
      }
  }

  @keyframes fade-out {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
}
@media (max-width: 1074px) {
  .about-section-image-container {
      max-width: 700px;
  }

  .about-section-text-container {
      gap: 24px;
  }

 .about-section-text-container h3 {
      font-weight: 500;
          color: #525252;
          font-size: 42px;
  }

  .about-section-text-container p {
      font-size: 1.1rem;
  }

  .secondary-button {
      padding: 0.6rem 2rem;
      font-size: 1rem;
      font-weight: 550;

  }

}
@media (max-width: 1000px) {
  .about-section-image-container {
          max-width: 700px;
      }
  
      .about-section-text-container {
          gap: 5px;
      }
  
      .about-section-text-container h3 {
          font-weight: 500;
          color: #525252;
          font-size: 42px;
      }
  
      .about-section-text-container p {
          font-size: 0.8rem;
      }
  
      .secondary-button {
          padding: 0.6rem 2rem;
          font-size: 1rem;
          font-weight: 550;
  
      }

}
@media (max-width: 800px) {

  .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
  }

  .about-section-container {
      flex-direction: column;
  }

  .about-section-image-container {
      width: 100%;
      max-width: 600px;
  }

  .primary-heading {
      text-align: center;
      max-width: 90%;
  }

  .primary-text {
      text-align: center;
      max-width: 80%;
  }
  .about-section-text-container {
      justify-content: center;
      align-items: center;
  }

  .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
  }

  .about-section-container {
      margin-top: 5rem !important;
  }

  .about-buttons-container {
      justify-content: center;
      flex-direction: column;
  }

  .primary-subheading {
      text-align: center;
  }

  .about-section-image-container {
      margin-right: 0rem !important;
  }
}
@media (max-width: 600px) {

  .about-background-image-container {
      display: none;
  }
}