.outer-container11 {
    /* width: 100vw; */
    max-width: 100%;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
}

.login-box{
    margin-top: 3rem;
    /* padding: 80px; */
    padding: 0px 50px 0px 50px;
    display: flex;
}

.left-part-log {
    z-index: 1;
    width: 420px;
    height: 510px;
    background-color: #007EA7;
    box-shadow: 2px 4px 8px 4px rgba(0.5, 0.2, 0.2, 0.2);
}

.left-content-log {
    display: flex;
    margin: 7rem 0rem 0rem 2rem;
    color: #fff;
    flex-direction: column;
    gap: 50px;
}

.header-textL1 {
    font-weight: 800;
    color: white;
    font-size: 28px;
}

.para-textL1 {
    width: 180px;
    font-weight: 250;
    color: white;
    font-size: 28px;
}

.sign-text1 {
    display: flex;
    font-size: 0.9rem;
}

.sign-text1 p {
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
}
.sign-text1 h4{
    color: white;
    font-weight: 400;
}

.right-part-log {
    width: 1000px;
    height: 510px;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 2px 4px 8px 4px rgba(0.5, 0.2, 0.2, 0.2);
}

.right-content-log {
    width: 500px;
    margin: 6rem 0rem 0rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin-left: 40px;
    padding: 50px; */
}


.header-textR {
    font-weight: 700;
    color: #525252;
    font-size: 30px;
}

.para-textR {
    font-family: "Arsenal", sans-serif;
    /* padding-left: 2rem; */
    color: black;
    font-weight: 400;
    font-size: 1rem;
}



.btnr {
    padding: 0.7rem 2rem;
    background-color: #007EA7;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnr:hover {
    background-color: #525252;
}
.form input {
    display: flex;
    flex-direction: column;
}

label {
    /* margin-bottom: 5px; */
    font-weight: 500;
    color: #525252;
}
.b-l{
    margin-top: 2rem;
    justify-content: space-between;
    display: flex;
}
.b-l p{
    color:#007EA7 ;
    font-weight: 400;
    font-size: 0.9rem;
}
.b-r{
    display: flex;
    gap: 8px;

}
.t{
    display: flex;
    align-items: center;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
