.outer-container1 {
  max-width: 100%;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container {
  height: 100px;
  display: flex;
  padding-top: 20px;

}

.navbar-login {
  display: flex;
}

/* .profile-pic a{
  height: 60px;
    display: flex;
} */
.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #525252;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-links-container a:hover {
  color: black;
  text-decoration: underline;
}

.primary-button {
  padding: 0.3rem 1.3rem;
  background-color: #007EA7;
  color: white;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: #525252;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }
} 