.outer-container14 {
    /* width: 100vw; */
    max-width: 100%;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
}

.PhyApp-box {
    margin-top: 3rem;
    /* padding: 80px; */
    padding: 0px 50px 0px 50px;
    display: flex;
}

.left-part-phy {
    z-index: 1;
    width: 420px;
    height: 710px;
    background-color: #007EA7;
    box-shadow: 2px 4px 8px 4px rgba(0.5, 0.2, 0.2, 0.2);
}

.left-content-phy {
    display: flex;
    margin: 7rem 0rem 0rem 2rem;
    color: #fff;
    flex-direction: column;
    gap: 50px;
}

.header-textL3 {
    font-weight: 800;
    color: white;
    font-size: 28px;
}

.para-textL3 {
    width: 100px;
    font-weight: 250;
    color: white;
    font-size: 28px;
}

.sign-text2 {
    display: flex;
    font-size: 0.9rem;
}

.sign-text2 p {
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
}

.sign-text2 h4 {
    color: white;
    font-weight: 400;
}

.right-part-phy {
    width: 1000px;
    height: 710px;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 2px 4px 8px 4px rgba(0.5, 0.2, 0.2, 0.2);
}

.right-content-phy{
    width: 500px;
    margin: 2rem 0rem 0rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-left: 40px;
    padding: 50px; */
}


.header-textR {
    font-weight: 700;
    color: #525252;
    font-size: 30px;
}

.para-textR {
    font-family: "Arsenal", sans-serif;
    /* padding-left: 2rem; */
    color: black;
    font-weight: 400;
    font-size: 1rem;
}



.btn2 {
    padding: 0.5rem 2rem;
    background-color: #007EA7;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2:hover {
    background-color: #525252;
}

.form input {
    display: flex;
    flex-direction: column;
}

label {
    /* margin-bottom: 5px; */
    font-weight: 500;
    color: #525252;
}

.b-l2 {
    margin-top: 1rem;
    /* justify-content: space-between; */
    display: flex;
    justify-content: flex-end;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}