.selection-box {
    padding: 100px; 
    display: flex;
  }
  
  .left-side {
    flex: 1; 
    background-color: #007EA7; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .left-side-content{
    margin: 40px;
    margin-top: 70px;
    color: #fff;
  }
  .selection-header-text{
    margin: 30px 0 30px 0;
  }
  .right-side {
    flex: 1; 
    background-color: #fff; 
    box-shadow: 0 4px 8px 0 rgba(0.5, 0.2, 0.2, 0.2);
  }
  .right-side-content{
    margin-left: 40px;
    padding: 50px;
  }
  .btn-button1 {
    padding: 1rem 2.5rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: #007EA7;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
  }
  
  .btn-button1:hover {
    background-color: #afafaf;
  }
  .btn-button2 {
    padding: 1rem 2.5rem;
    background-color: #007EA7;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
  }
  .btn-button2:hover {
    background-color: #525252;
  }
  