/* .outer-container5{
    max-width: 100%;
    width: 85vw;
    margin: 0 auto;
    height: 450px;
}
.staff-container{
    justify-content: flex-start;
   display: flex;
   align-items: center;
   max-height: 450px;
    flex-direction: column;
    gap: 40px;
    margin-top: 4rem;
}
.staff-head-text  {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.primary-heading2{
    font-weight: 500;
    color: #525252;
    font-size: 45px;
    
}
.primary-text2{
    font-family: "Arsenal", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
}
.app1{
    display: flex;
    text-align: center;
}

.image-slider {
    display: flex;
    position: relative;
    margin: auto;
    overflow: hidden;
    flex-direction: row-reverse;
    gap: 100px;
}

.image-slider img {
    height: auto;
    transition: transform 0.5s ease-in-out;
}
.text{
    display: flex;
    max-width: 450px;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}
.text h3{
    display: flex;
    font-weight: 500;
    color: #525252;
    font-size: 40px;
}
.text p{
    display: flex;
    font-family: "Arsenal", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
}

.image-slider .arrow {
    position: absolute;
    top: 85%;
    right: 10%;
    left: 33%;
    background:none;
    border:none;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
}

.image-slider .arrow:first-child {
    left: 15px;
}

.image-slider .arrow:last-child {
    right: 20px;
}
.staff-bottum-container{
    display: flex;
}
.secondary-button {
    padding: 1rem 2.5rem;
    background-color: #007EA7;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
} */