/* .appoinment-box {
  padding: 80px; 
  display: flex;
}

.left-part {
  flex: 1; 
  background-color: #007EA7; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.left-content{
  margin: 40px;
  margin-top: 70px;
  color: #fff;
}
.header-text{
  margin: 30px 0 30px 0;
}
.para-text{
  margin: 100px 0 60px 0;

}
.sign-text{
 
}

.right-part {
  flex: 2; 
  background-color: #fff; 
  box-shadow: 0 4px 8px 0 rgba(0.5, 0.2, 0.2, 0.2);
}
.right-content{
  margin-left: 40px;
  padding: 50px;
}
.btn {
  padding: 1rem 2.5rem;
  background-color: #007EA7;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}

.btn:hover {
  background-color: #525252;
}

.form input{
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
}

input[type="text"],input[type="email"],input[type="date"],input[type="password"],select,textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */
